[submodule "zyncoder"]
	path = zyncoder
	url = https://github.com/zynthian/zyncoder.git
[submodule "zynthian-data"]
	path = zynthian-data
	url = ./zynthian-data/
[submodule "zynthian-emuface"]
	path = zynthian-emuface
	url = ./zynthian-emuface/
[submodule "zynthian-sys"]
	path = zynthian-sys
	url = ./zynthian-sys/
[submodule "zynthian-ui"]
	path = zynthian-ui
	url = ./zynthian-ui/
[submodule "zynthian-sw/jalv"]
	path = zynthian-sw/jalv
	url = https://github.com/zynthian/jalv.git
